<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869070338639-d4o87qhvc5v6nlt83j2419jmbnsefl3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869070338639-d4o87qhvc5v6nlt83j2419jmbnsefl3j</string>
	<key>API_KEY</key>
	<string>AIzaSyCX4qVEslhYQ07fQNCokfuKslnoudes6Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>869070338639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatNotification.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-f7977</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-f7977.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869070338639:ios:4dbb877ed5e52d0acb483a</string>
</dict>
</plist>